/*
 * ----------------------------------------------------------------------------
 * gumax_template.css
 * ----------------------------------------------------------------------------
 */

/* Basic Structure
-----------------------------------------------------------------------------*/
body {
	font-size: x-small;
	margin: 0; padding: 0;
	min-width: 700px;
	/*background: #E1E0DC url('images/bg_light.jpg') top center repeat-x; /**/
}

body, td, th, input, textarea, pre, h1, h2, h3, h4, h5, h6 { color: #222; }
body, td, th, input, textarea { font-family: Verdana, Arial, 'Trebuchet MS'; }
pre { font-family: Monospace, Courier, Arial; }

#gumax-wrapper
{
	width: 999px;  /* page width */
	margin: 0 auto;
	background-color: transparent;
	font-size: 110%; /* web page font size */
}


/* general style
-----------------------------------------------------------------------------*/
table {
	background: none;
	background-color: transparent;
	border-collapse: collapse;
	}

table.border-collapse td {
	border: 10px solid #ccc;
}


/* page shadow
-----------------------------------------------------------------------------*/
#gumax-page-table {
	border-collapse: collapse;
	padding: 0; margin: 0;
	table-layout: fixed;
	width: 999px;  /* page width */
	overflow: visible;
}

#gumax-page-table-content {
	width: 979px;
	overflow: visible;
}

#gumax-page-table-left img,
#gumax-page-table-right img {
	width: 10px; /* width of the left and right border */
	height: 1px;
}
#gumax-page-table-left {
	background: transparent url('images/gm_shadow_l.png') top right repeat-y;
	}
#gumax-page-table-right {
	background: transparent url('images/gm_shadow_r.png') top left repeat-y;
	}


/* Header
-----------------------------------------------------------------------------*/
/* gumax-header */
#gumax-header
{
	z-index: 100;  /* make logo visible over content*/
	padding: 0 20px; /* same as content padding */
	margin: 0 auto;
}

/* Login
-----------------------------------------------------------------------------*/
#gumax-p-login {
	font-size: 95%;
	position: relative;
	float: none;
	text-align: right;
	top: 0; right: 0;
	margin: 0;
	padding: 0;
}

#gumax-p-login ul {
	position: relative;
	width: auto;
	list-style: none;
	padding: 0; margin: 0;
}

#gumax-p-login ul li {
	position: relative;
	display: inline;
	margin: 0; padding: 0;
	font-size: 100%;
	color: #777;
}

#gumax-p-login ul li a {
	color: #333;
	padding: 2px 3px;
	background: none;
	text-decoration: none; 
}

#gumax-p-login ul li a:hover { color: #000; }

li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: none;
	font-weight: bold;
}


/* Logo
-----------------------------------------------------------------------------*/
	#p-logo h5 { display: none; }

	#p-logo,
	#p-logo a,
	#p-logo a:hover {
		height: 105px;
	}

	#p-logo {
		z-index: 200;
		position: relative; /*needed to use z-index */
		float: left;
		text-align: left;
		margin: 10px 0 20px 0;
		overflow: visible;
		display: block;
		padding: 0;
	}

	#p-logo a,
	#p-logo a:hover {
		display: block;
		background-repeat: no-repeat;
		background-position: 35% 50% !important;
		text-decoration: none;
	}


/* Search
-----------------------------------------------------------------------------*/
#gumax-p-search h5 { display: none }

#gumax-searchBody {
	position: relative;
	float: right;
	z-index: 3;
	padding: 0;
	margin: 40px 0;
	text-align: right;
	vertical-align: middle;
}

input.searchButton {
	font-size: 100%;
}

#searchInput {
	width: 15em;
	height:1.5em;
	margin: 0;
	font-size: 100%;
	border: 1px solid #777;
}

.os-suggest {
	font-size: 100%; /* search suggest font */
}


/* dynamic article picture
-----------------------------------------------------------------------------*/
#gumax-article-picture {
	/* background: #fff; */
	border-bottom: 1px solid #ddd;
	background-color: transparent;
	text-align: left;
	padding: 0;
	margin: 2px 20px;
}

#gumax-article-picture,
#gumax-article-picture a,
#gumax-article-picture a:hover {
	height:	 128px;
	min-height: 128px; /* height of header */
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	color: #eee;
	font-weight: bolder;
	font-size: 102%;
}

.gumax-article-picture-spacer {
	height: 7px;
}

/* Navigation Menu
-----------------------------------------------------------------------------*/
.gumax-portlet h5 { display: none; } /* hide menu title */

*html #gumax-p-navigation { height: 24px; margin: 0 20px; padding: 0; }
.gumax-portlet { 
	margin: 0; 
	padding: 0; 
	overflow:hidden; 
	}
.gumax-portlet ul { 
	margin: 0; 
	line-height: 100%; 
	position:relative; 
	text-align:center; 
	float:left;
	left:50%; 
	clear:left; 
	}
.gumax-portlet ul li {
	 float: left; /* fix the gap between <li> list */
	/* display: inline;  /* display in one line with gaps */
	margin: 0; padding: 0;
	font-weight: normal; /* the font weight of '|' */
	font-size: 130%;   /* the font size of the navigation menu */
	color: #7FBAFF;	/* the font color of '|' */
	list-style: none;
	line-height: 120%;
	position:relative;
	right:50%;
	display: block;
}

.gumax-portlet ul li a,
.gumax-portlet ul li a:visited {
	font-family: 'Trebuchet MS', Georgia, Verdana, Sans-serif, Arial;
	font-weight: bold;
	margin: 0; padding: 5px 11px 5px 11px; /* padding inside the tab */
	color: #333;
	text-decoration: none;
	display: block;
	background: transparent url('images/stripe-grey.gif') center center repeat-x;
}

/* need for IE to display as block */
* html .gumax-portlet ul li a {
	display: block; /* Make the hyperlinks as a block element, sort of a hover effect */
	position: relative; /* need for IE */
}

.gumax-portlet ul li a:hover {
	color: #003E67;
	text-decoration: none;
}
.gumax-portlet ul li:active a,
.gumax-portlet ul li.selected a {
	color: #000;
}

.gumax-p-navigation-spacer
{
	height: 5px;
	font-size: 0;
	background: #E3E3E3;
	border-bottom: solid 1px #003E67;
}

/* siteNotice
-----------------------------------------------------------------------------*/
#siteNotice
{
	border: 1px solid #ddd;
	background-color: #ccc;
	margin: 0; padding: .9em;
	font-size: 100%;
}
#siteNotice p {
	margin: 0; padding: 0;
}
#siteNotice table {
	background-color: transparent;
	margin: 0; padding: 0;
}

/* content
-----------------------------------------------------------------------------*/
.deepLevel #mainContent :link img,
.deepLevel #mainContent :visited img {
	border: medium solid;
}
.deepLevel #mainContent #buttons :link img,
.deepLevel #mainContent #buttons :visited img {
	border: 0;
}

#gumax-column-content { padding: 0; margin: 0; width: 100%; }

div#content {
	border: none;
	background: transparent;
	margin: 0; 
	padding: 0 20px 1.2em 20px;  /* content margin */
	position: static; /* need for IE positioning problem */
	z-index: 2;
	clear: both;
	line-height: 1.4em; /* value other than 'normal' needed for WinIE */
	overflow-x: visible; /* need for Firefox, extreme long string :( */
}

/* content page title */
.gumax-firstHeading {
	font-family: 'Trebuchet MS', Arial, Verdana;
	color: #006699;
	margin: 0;
	padding: 0;
}
.page-Home .gumax-firstHeading, .page-Main_Page .gumax-firstHeading {
    display: none;
}

#bodyContent { width: 100%; padding: 0; margin: 0; }


/* AJax search style */
div#searchTargetContainer {
	left: 0px; top: 0px;
	width: 100%;
	background-color: white;
	overflow-x: visible;  /* need for Firefox, extreme long string :( */
}

div#searchTarget {
	padding:	10px;
	margin:	 5px;
	background: #fefefe;
	border: solid 1px #003E67;
}

div#searchTarget h2 {
	padding-top: 1em;
	margin-bottom: .5em;
}

div#searchTarget a {
	position: relative;
	z-index: 300; /* fix the hide link button */
}

/* table of content styles */

#toc, .toc, .mw-warning {
	border: 1px solid #ccc;
	background-color: transparent;
}


/*
 * --- body content ---
 */

h1, h2 {
	border-bottom: 1px solid #ddd;
}
h3, h4, h5, h6 {
	border-bottom: none;
}

#editform { width: 100%; }  /* prevent overflow in IE when editing */

textarea {
	font-size: 100%;
	width: 99%;	 /* fix the textarea oversize in IE */
	padding: 2px 0 0 2px;
	margin: 0;
	border: 1px solid #3399FF;
	/* height: 500px; */
}

code {
	background-color: #bbb;
}

/* pre{ */
/* white-space: pre;			/* CSS2 */
/* white-space: -moz-pre-wrap;  /* Mozilla */
/* white-space: -hp-pre-wrap;   /* HP printers */
/* white-space: -o-pre-wrap;	/* Opera 7 */
/* white-space: -pre-wrap;	  /* Opera 4-6 */
/* white-space: pre-wrap;	   /* CSS 2.1 */
/* white-space: pre-line;	   /* CSS 3 (and 2.1 as well, actually) */
/* word-wrap: break-word;	   /* IE */
/* } */

pre {
	white-space: -moz-pre-wrap;  /* need for Firefox */
	overflow-x: visible;  /* need for Firefox, extreme long string :( */
	padding: 10px; margin: 12px 0;
	border: 1px dashed #bbb;
	color: #333;
	background-color: #f1f1f1;
	line-height: 1.2em;
}
	pre {
		white-space: pre; /* CSS2 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap; /* HP printers */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: pre-wrap; /* CSS 2.1 */
		white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	}
	* html pre {
		white-space: normal;
		word-wrap: break-word; /* IE */
	}

.catlinks {
	border: 1px solid #ccc;
	background-color: #f2f2f2;
}

.visualClear { clear: both; }

.errorbox, .successbox {
	margin-top: 2px;
	margin-bottom: 10px;
}

#contentSub, #contentSub2 { font-size: 90%; line-height: 1.2em; margin: 0.5em 0 1.4em 0; color: #7d7d7d; width: auto; }


/* thumbnails
-----------------------------------------------------------------------------*/
div.thumb { border: none; }

/* edit section
-----------------------------------------------------------------------------*/
.editsection { font-size: 90%; margin-top: 1px; color: #ddd; /* color for [] */ }
* html div.editsection { font-size: 90%; }
.editsection a, .editsection a:visited { color: #777; }
.editsection a:hover { color: #555; }


/* content actions
-----------------------------------------------------------------------------*/
#gumax-content-actions {
	text-align: center; /* menu location */
	height: 27px;  /* need for IE win */
	white-space: nowrap;
	background: none;
	color: #999;
	margin-bottom: 10px;
}
/** html #gumax-content-actions { margin-top: -5px; } /* WTF, IE fix */

#gumax-content-actions ul { list-style: none; margin: 0; padding: 7px; }
#gumax-content-actions ul li { display: inline; margin: 0; padding: 0;}
#gumax-content-actions ul li a {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 100%; font-family: Verdana, 'Trebuchet MS', Sans-serif,  Arial;
	color: #777;
	white-space: nowrap;
}

#gumax-content-actions ul li a:hover, #gumax-content-actions ul li.selected a {
	color: #000;
}

#gumax-content-actions li#ca-edit a {
	font-size: 120%;
	font-style: italic;
	color: #555;
}


/* Sidebar Navigation Menu
-----------------------------------------------------------------------------*/
	#gumax-content-table  {
		border-collapse: collapse;
		padding: 0; margin: 0;
		position: relative; /* WTF, IE fix */
	}

	.gumax-portlet-sidebar h5 {
		font-family: Tahoma, Arial, sans-serif;
		text-transform: capitalize;
		color:#003E67; 
		font-weight: bold;
		font-size: 120%;
		white-space: nowrap;
		margin: 0;
		padding: 0 0 0 10px;
		line-height: 2.2em;
		height: 27px;
		border-collapse: collapse;
	}
	* html .gumax-portlet-sidebar h5 { margin-bottom: -2px; /* WTF, IE fix */ } 

	.gumax-portlet-sidebar {
		font-family: Verdana, Tahoma, sans-serif;
		width: 160px;
		margin: 10px 0 0 20px;
		padding: 0 .8em .8em .6em;
		float: none;
		overflow: hidden;
		font-size: 100%;
		background: #e9e9e9;
		color: #555;
		border-collapse: collapse;
		border: 1px solid #f1f1f1;
	}

	.gumax-portlet-sidebar ul {
		line-height: 1.5em;
		list-style-type: none;
		list-style-image: none;
		font-weight: normal;
	}

	.gumax-portlet-sidebar li {
		padding: 0; margin: 0;
		line-height: 150%;
	}

	.gumax-portlet-sidebar li a,
	.gumax-portlet-sidebar li a:visited {
		color: #555;
	}
	.gumax-portlet-sidebar li a:hover {
		color: #333;
	}

	li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
		margin-left: 0;
	}


/* Footer
-----------------------------------------------------------------------------*/
#gumax-footer {
	/*border: 1px solid #000; /**/
	color: #333;
	font-size: 90%;
	text-align: left; /* page footer location */
	margin: 10px 0;
	padding: 2px 0 30px 0;
}

.gumax-footer-spacer {
	margin: 5px 0;
	height: 5px;
	font-size: 0;
	background: transparent url('images/stripe-grey.gif') center center repeat-x;  /* footer spacer background */
}


#gumax-footer ul { 
	list-style: none;
}
#gumax-footer ul li {
	display: inline;
	overflow: visible;
	color: #777; /* the font color of '|' */
	margin: 0;
}
#gumax-footer ul li a {
	padding: 4px 3px;
}
#gumax-footer,
#gumax-footer ul li a {
	color: #444;
	text-decoration: none;
}
#gumax-footer ul li a:hover {
	color: #000;
}
#gumax-footer a { white-space: nowrap; }


#gumax-f-list {
	text-align: right;
}

#gumax-personal-tools ul,
#gumax-f-list ul {
	padding: 0;
	margin: 0 15px;
}

#gumax-personal-tools h5 {
	display: none;
}

#gumax-f-message {
	padding-top: 3px;
	padding-right: 8px;
	color: #bbb;
}

/* Special:Specialpages
-----------------------------------------------------------------------------*/

/* system message table fix */
#allmessagestable { table-layout: fixed; width: 100%; max-width: 100%; margin-top: 20px; border-collapse: collapse; }
#allmessagestable.left td { width: 30%; }
#allmessagestable, #allmessagestable th, #allmessagestable td { border: 1px solid #336699; padding: 3px 5px; }

/* image list table fix */
table.imagelist, table.TablePager {/* table-layout: fixed; /**/ width: 100%; max-width: 100%; margin-top: 0.3em; }
.TablePager td, .TablePager th { border: 1px solid #777; }
.imagelist td, .imagelist th { white-space: normal; }
/* remove line wrapping for TablePager_col_links */
.imagelist .TablePager_col_links { white-space: nowrap; }

h4.mw-specialpagesgroup {
	background: none; /**/
	border-bottom: 2px solid #FFCC66;
}

/* Table pager (e.g. Special:Imagelist)
-----------------------------------------------------------------------------*/
.TablePager_nav a	{ text-decoration: none; }
.TablePager th		{ background-color: #eeeeff; }
.TablePager td		{ background-color: #ffffff; }
.TablePager tr:hover td { background-color: #eeeeff; }


/* Random HTML
-----------------------------------------------------------------------------*/
hr {
	height: 1px; color: #aaa;
	background-color: #aaa;
	border: 0; margin: 2px 0;
}

/* for margin between paragraphs */
.cc { font-size: 10%; padding: 3px 0; margin: 0; }

/*-------------------------------------
	<div class="cc">&nbsp;</div>
-------------------------------------*/

/*
 * Force Opera / Moz / Netscape
 * to display an _IN_active vertical scrollbar (like IE).
 */
html { overflow-y: scroll; }


/* IE/Mac fixes
-----------------------------------------------------------------------------*/
/* fix for position of image inside table */
* html #preferences { width: 90%; }

/* login form fix */
div#userloginForm form, form#userlogin2 { width: 500px; }



